* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Eagle Lake", sans-serif;
  line-height: 1;
  font-weight: 300;
  color: #2b82d4;
  overflow-y: hidden;
  overflow-x: hidden;
  background: rgb(1507, 80, 80);
  background-color: rgb(163, 163, 163);
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.labels {
  position: absolute;
  left: 50%;
  top: 50%;
  color: rgb(117, 16, 16);
  /* z-index: 50; */
}

.labels > div {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  font-size: large;
  user-select: none;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  transition: color 1s;
}
.labels > div:hover {
  color: rgb(245, 240, 240);
}

.ease-in,
.heading-primary,
.subtitle,
.hello {
  transition: all 0.5s ease-in;
}

.intro-page {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* change to add intro-page */
  opacity: 0;
  display: none;
}

.heading-primary,
.subtitle,
.hello {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.display {
  display: block;
}
.show {
  opacity: 1 !important;
}
.heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.heading-primary {
  top: 40%;

  font-size: 6.2rem;
}
.subtitle {
  font-size: 4.2rem;
}
.hello {
  font-size: 6.2rem;
}
.subtitle-temp {
  font-size: 5.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* https://r105.threejsfundamentals.org/threejs/lessons/threejs-align-html-elements-to-3d.html*/
/* https://github.com/mrdoob/three.js/blob/master/examples/webgl_panorama_equirectangular.html */

.main-scene {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: opacity 0.5s;
}

.show-scene {
  opacity: 1;
}

/* MAIN SCENE */
.top-nav {
  padding: 2rem 2.4rem;
  color: white;
  display: flex;
  justify-content: space-between;
}
.pg-nav,
.logo-text {
  color: white;
  font-size: 3.2rem;
}

.pg-btn {
  border: none;
  background-color: transparent;
  font-size: 3.2rem;
  cursor: pointer;
}
.book-box {
  background-color: transparent;
  display: flex;
  width: 100%;
  height: 85%;
  justify-content: center;
  align-items: center;
}
.book {
  position: relative;
  width: 40rem;
  height: 53rem;
  background-color: transparent;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1750px;
}
.page-back,
.page-front {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.8s;
}
.page-front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid powderblue;
}

.page-back {
  z-index: 0;
}

.front-content,
.back-content {
  color: rgb(196, 0, 0);
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.back-content {
  transform: rotateY(180deg);
}

.page[data-page="0"] {
  z-index: 1;
}
.page[data-page="1"] {
  z-index: 2;
}
.page[data-page="0"] {
  z-index: 3;
}
.flipped .page-front,
.flipped .page-back {
  transform: rotateY(-180deg);
}
.fli;
